html {
	height: 100%;
}

body{
	margin: 0;
	padding: 0;
	background-color: #ededed;
}

.main-header{
	padding: 0;
	margin-right: 0px;
}

.navbar-collapse{
	background-color: #343a40;
}

.name{
	font-weight: bold;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 24px;
	background-color: #4aaaa5;
	margin-left: 200px;
	height: 50px;
}	

a:link {
    text-decoration: none;
    color: #fff;
}

a:visited {
    text-decoration: none;
    color: #fff;
}